<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>common-fw</id>
      <username>deploy-user</username>
      <password>Password@2805</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>common-fw</id>
      <name>Common Framework</name>
      <url>http://35.207.223.31:8081/repository/commonfw-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <!-- <profiles>
   <profile>
     <id>commonframework</id>
     <repositories>
       <repository>
         <id>common-framework</id>
         <name>Common Framework</name>
         <url>http://localhost:8081/repository/common-fw-group/</url>
       </repository>
     </repositories>
   </profile>
 </profiles>
 
 <activeProfiles>
   <activeProfile>commonframework</activeProfile>
 </activeProfiles> -->

</settings>